<%- include('../partials/head') %> 

<div class='container products'></div>

    <ul class="cards">
        <% for (const oneGame of games) { %>

         <li> 
                <a href="/products/detail/<%= oneGame.id %>" style="text-decoration: none;">
                    <div class="card-item">
                        <img src="/images/products/games/<%= oneGame.image %>" class="card-img" alt="<%= oneGame.game_name %>">
                       <h4>$ <%= oneGame.price %></h4>
                       <p><%= oneGame.game_name %></p>
                     </div>
                 </a>
        </li>	


        <% } %>
    </ul>
</div>



<%- include('../partials/footer') %> 

