
<%- include('../partials/head'); %>


<div class="container" style="margin-top:30px; margin-bottom: 30px;">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2>Actualización de producto: <%= game.game_name %></h2>

            <form action="/products/edit/<%= game.id %>?_method=PUT"  method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/images/products/games/<%= game.image %>" width="300px" class="rounded">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input 
                            <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                <%= hasErrorGetMessage('image', errors) ? 'is-invalid' : null %> 
                            <% } %>
                            "
                            name="image">
                            <label class="custom-file-label">Seleccione imagen...</label>
                            <i class="invalid-feedback">
                                <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                <%= hasErrorGetMessage('avatar', errors) ? hasErrorGetMessage('avatar', errors) : null %>
                                <% } %>
                            </i>
                        </div>
                        <br><br>
                    </div>




                    <div class="col-md-6">
                        <div class="form-group">
                            <label><b>Título:</b></label>
                            <input type="text" 
                            name="game_name" 
                            value="<%= game.game_name %>"
                            class="form-control                            
                            <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                <%= hasErrorGetMessage('game_name', errors) ? 'is-invalid' : null %> 
                            <% } %>
                            ">

                            <i class="invalid-feedback">
                                <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                    <%= hasErrorGetMessage('game_name', errors) ? hasErrorGetMessage('firstName', errors) : null %>
                                <% } %>
                            </i>   
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1"><b>Descripción:</b></label>
                            <textarea name="description" rows="3" class="form-control
                            <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                <%= hasErrorGetMessage('description', errors) ? 'is-invalid' : null %> 
                            <% } %>
                                                    
                            "><%= game.description %></textarea>


                            <i class="invalid-feedback">
                                <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                    <%= hasErrorGetMessage('description', errors) ? hasErrorGetMessage('firstName', errors) : null %>
                                <% } %>
                            </i>       
                        </div>
                    </div>                      




                    <div class="col-md-6">
                        <div class="form-group">
                            <label><b>Precio:</b></label>
                            <input type="text" name="price" value="<%= game.price %>" class="form-control
                            <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                <%= hasErrorGetMessage('price', errors) ? 'is-invalid' : null %> 
                            <% } %>                           
                            ">
                            <i class="invalid-feedback">
                                <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                    <%= hasErrorGetMessage('price', errors) ? hasErrorGetMessage('firstName', errors) : null %>
                                <% } %>
                            </i>   
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><b>Género:</b></label>
                            <select name="genre_id" class="form-control">
                                <option value="">Elegí un género</option>
                                <% genres.forEach(oneGenre => { %>
                                <option 
                                    value="<%= oneGenre.id %>"
                                    <%= game.genre_id == oneGenre.id ? 'selected' : null %>
                                >
                                    <%= oneGenre.genre_name %>
                                </option>
                                <% }) %>
                            </select>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <br><br>
                        <h5>Si desea borrar el producto presione el siguiente botón</h5>
                        <form action="/products/delete/<%= game.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-primary">Borrar</button>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<%- include('../partials/footer'); %>
