<%- include('partials/head') %> 

<body>

        <%- include('partials/navBarAdmin') %>



		<main class="main-content float-fix">
			<!-- Left content -->
			<section class="main-left-content">
                <% products.forEach(product => { %>   
				<article class="product-box">
                    <div class="card text-center" style="width: 15rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSNAhrlaqE6qUqmSc-sFXJlbgLQyyG1Uksl2Vnrqb4fiMn5MRRO&usqp=CAU" alt="..." class="rounded">
                        <div class="card-body">
                            <h5><%=product.game_name%></h5>
                            <p>Precio: $<%=product.price%></p>
                            <p>Género: <%=product.genre.genre_name%></p>
                            <a href="products/edit/<%=product.id%>">Editar</a>
                        </div>
                    </div>
                </article>
                <%}); %>
            </section>

        </main>

        <%- include('partials/footer') %> 

</body>
</html>