<%- include('partials/head') %> 

<body>

        <%- include('partials/navbar') %>

        <h1>Editar usuario <%= userToEdit.firstName %> <%= userToEdit.lastName %></h1>

        <form action="/users/useredit?_method=PUT" method="POST">
            <div>
                <label>Identificación:</label>
                <input type="text" name="id" value='<%= userToEdit.id %> '>
            </div>
            <div>
                <label>Nombre:</label>
                <input type="text" name="firstName" value='<%= userToEdit.firstName %> '>
            </div>
            <div>
                <label>Apellido:</label>
                <input type="text" name="lastName" value='<%= userToEdit.lastName %> '>
            </div>
            <div>
                <label>E-mail:</label>
                <input type="text" name="eMail" value='<%= userToEdit.eMail %> '>
            </div>
            <button type="submit">Guardar</button>
        </form>


        <%- include('partials/footer') %> 
</body>
</html>