<%- include('../partials/head'); %>


<!-- Container -->
 <div class="container" style="margin-top: 40px;">
		<div class="row">
			<div class="col-md-3">
				<h2>Hola <%= userLogged.firstName %></h2>
				<img src="/images/avatars/<%= userLogged.avatar %>" width="100%">
				<br>
				<br>
				<div class="alert alert-success"><%= userLogged.email %></div>
				<section class="buttons">

					<form class="has-buttons" action="/users/" method="GET">
						<button button type="submit" class="btn btn-primary">Listado</button>
					</form>
				
					<form class="has-buttons" action="/users/delete?_method=DELETE" method="POST">
						<button button type="submit" class="btn btn-danger">Eliminar usuario</button>
					</form>
				
					<form class="has-buttons" action="/users/edit" method="GET">
						<button button type="submit" class="btn btn-warning">Editar usuario</button>
					</form>    
				</section>
			</div>
		</div>
	</div> 
	<!-- //Container -->

<%- include('../partials/footer'); %>
